<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ADBM Terrorism Report - MongoDB</title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">INFSCI 2711 Global Terrorism</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Overview</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="MySQL.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">MySQL</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="http://localhost:3000/">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">MongoDB</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link" href="Neo4j.html">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Neo4j</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
    
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Database</a>
        </li>
        <li class="breadcrumb-item active">MongoDB</li>
      </ol>

      <!-- Example DataTables Card-->
      <div class="card mb-3">    
          <div class="card-header">
          <i class="fa fa-table"></i> Queries</div>

        <!--This is query1 seperate line **********************************************************-->
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1. Find the number of perpetrators captured in a specific year
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form method="POST" action="/query1" class="query1">
                      <div class="input-group mb-3">
                      <select class="custom-select" name="yearpicker">
                          <option selected>Choose the year you would like to see (No data for 1993)</option>
                          <% for(var i=0; i<year.length; i++) {%>
                              <option value=<%= year[i]._id %>><%= year[i]._id %></option>
                              <% } %>
                      </select>                      
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div> 
                      </div>
                      <% for(var i=0; i<query1.length; i++) {%>
                      <p>The number of perpetrators captured in <%= query1[i]._id %> year is <%= query1[i].total_num %>.</p>
                      <% } %>
                    </form>
                </div>
              </div>
            </div>
          </div>

          <!--This is query2 seperate line **********************************************************-->
          <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      2. Find the number of attacks for a specific country
                    </button>
                  </h5>
                </div>
            
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                      <form method="POST" action="/query2" class="query2">
                        <div class="input-group mb-3">
                        <select class="custom-select" name="countrypicker">
                            <option selected>Choose the country you would like to see</option>
                            <% for(var i=0; i<country.length; i++) {%>
                                <option value=<%= country[i]._id %>><%= country[i]._id %></option>
                                <% } %>
                        </select>                      
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                          </div> 
                        </div>
                        <% for(var i=0; i<query2.length; i++) {%>
                        <p>The number of attacks happened in <%= query2[i]._id %> is <%= query2[i].num_terrorist_attacks %>.</p>
                        <% } %>
                      </form>
                  </div>
                </div>
              </div>
            </div>

          <!--This is query3 seperate line **********************************************************-->
          <div id="accordion">
            <div class="card">
              <!--change id number-->
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    3. Find how much ransom was paid by a specific country
                  </button>
                </h5>
              </div>
          
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <!--change query number-->
                    <form method="POST" action="/query3" class="query3">
                      <div class="input-group mb-3">
                      <select class="custom-select" name="countrypicker">
                          <option selected>Choose the country you would like to see</option>
                          <% for(var i=0; i<country.length; i++) {%>
                              <option value=<%= country[i]._id %>><%= country[i]._id %></option>
                              <% } %>
                      </select>                      
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div> 
                      </div>
                      <% for(var i=0; i<query3.length; i++) {%>
                      <p>The amount of ransom paid in <%= query3[i]._id %> is <%= query3[i].num_ransom_paid %>.</p>
                      <% } %>
                    </form>
                </div>
              </div>
            </div>
          </div>

          <!--This is query4 seperate line **********************************************************-->
          <div id="accordion">
              <div class="card">
                <!--change id number-->
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-light" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      4. Find how much ransom was demanded of a specific country
                    </button>
                  </h5>
                </div>
            
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <!--change query number-->
                      <form method="POST" action="/query4" class="query4">
                        <div class="input-group mb-3">
                        <select class="custom-select" name="countrypicker">
                            <option selected>Choose the country you would like to see</option>
                            <% for(var i=0; i<country.length; i++) {%>
                                <option value=<%= country[i]._id %>><%= country[i]._id %></option>
                                <% } %>
                        </select>                      
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                          </div> 
                        </div>
                        <% for(var i=0; i<query4.length; i++) {%>
                        <p>The amount of ransom demanded in <%= query4[i]._id %> is <%= query4[i].num_ransom_demanded %>.</p>
                        <% } %>
                      </form>
                  </div>
                </div>
              </div>
            </div>

          <!--This is query5 seperate line **********************************************************-->
          <div id="accordion">
              <div class="card">
                <!--change id number-->
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-light" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      5. Find the number of people were injured during successful attacks for a certain attack type
                    </button>
                  </h5>
                </div>
            
                <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                    <!--change query number-->
                      <form method="POST" action="/query5" class="query5">
                        <div class="input-group mb-3">
                        <select class="custom-select" name="attackpicker">
                            <option selected>Choose the attack type you would like to see</option>
                            <% for(var i=0; i<attack.length; i++) {%>
                                <option value=<%= attack[i]._id %>><%= attack[i]._id %></option>
                                <% } %>
                        </select>                      
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                          </div> 
                        </div>
                        <% for(var i=0; i<query5.length; i++) {%>
                        <p>The number of people were injured during successful attacks for <%= query5[i]._id %> is <%= query5[i].num_wound %>.</p>
                        <% } %>
                      </form>
                  </div>
                </div>
              </div>
            </div>

          <!--This is query6 seperate line **********************************************************-->
          <div id="accordion">
              <div class="card">
                <!--change id number-->
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-light" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                      6. Count the number of suicides committed by perpetrators based on their country
                    </button>
                  </h5>
                </div>
            
                <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
                  <div class="card-body">
                    <!--change query number-->
                      <form method="POST" action="/query6" class="query6">
                        <div class="input-group mb-3">
                        <select class="custom-select" name="countrypicker">
                            <option selected>Choose the country you would like to see</option>
                            <% for(var i=0; i<country.length; i++) {%>
                                <option value=<%= country[i]._id %>><%= country[i]._id %></option>
                                <% } %>
                        </select>                      
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                          </div> 
                        </div>
                        <% for(var i=0; i<query6.length; i++) {%>
                        <p>The number of suicides committed by perpetrators based on <%= query6[i]._id %> is <%= query6[i].num_suicide_attack %>.</p>
                        <% } %>
                      </form>
                  </div>
                </div>
              </div>
            </div>

          <!--This is query7 seperate line **********************************************************-->
          <div id="accordion">
              <div class="card">
                <!--change id number-->
                <div class="card-header" id="headingSeven">
                  <h5 class="mb-0">
                    <button class="btn btn-light" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                      7. Count the number of perpetrators captured based on their motives
                    </button>
                  </h5>
                </div>
            
                <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
                  <div class="card-body">
                    <!--change query number-->
                      <form method="POST" action="/query7" class="query7">
                        <div class="input-group mb-3">
                        <select class="custom-select" name="motivepicker">
                            <option selected>Show 10 motive with its number of perpetrators captured randomly</option>
                            <!-- <% for(var i=0; i<motive.length; i++) {%>
                                <option value=<%= motive[i]._id %>><%= motive[i]._id %></option>
                                <% } %> -->
                        </select>                      
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                          </div> 
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Motive</th>
                                  <th>Number</th>
                                </tr>
                              </thead>
                              <tbody>
                                  
                                      <% for(var i=0; i<query7.length; i++) {%>
                                        <tr class="query7">
                                     <td class="query7">
                                       <%= query7[i]._id %>
                                     </td>
                                     <td class="query7">
                                        <%= query7[i].num_perpetrators_captured%>
                                      </td>
                                    </tr>
                                       <% } %>
                                    
                              </tbody>
                            </table>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>

          <!--This is query8 seperate line **********************************************************-->
          <div id="accordion">
            <div class="card">
              <!--change id number-->
              <div class="card-header" id="headingEight">
                <h5 class="mb-0">
                  <button class="btn btn-light" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseSix">
                    8. Count the number of terrorist attacks based on type
                  </button>
                </h5>
              </div>
          
              <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordion">
                <div class="card-body">
                  <!--change query number-->
                    <form method="POST" action="/query8" class="query8">
                      <div class="input-group mb-3">
                      <select class="custom-select" name="typepicker">
                          <option selected>Choose the attack type you would like to see</option>
                          <% for(var i=0; i<attack.length; i++) {%>
                              <option value=<%= attack[i]._id %>><%= attack[i]._id %></option>
                              <% } %>
                      </select>                      
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div> 
                      </div>
                      <% for(var i=0; i<query8.length; i++) {%>
                      <p>The  number of terrorist attacks based on <%= query8[i]._id %> is <%= query8[i].num_attack %>.</p>
                      <% } %>
                    </form>
                </div>
              </div>
            </div>
          </div>
          
         <!--This is query9 seperate line **********************************************************-->
         <div id="accordion">
          <div class="card">
            <!--change id number-->
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseSix">
                  9. Count the number of terrorist attacks based on weapon
                </button>
              </h5>
            </div>
        
            <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion">
              <div class="card-body">
                <!--change query number-->
                  <form method="POST" action="/query9" class="query9">
                    <div class="input-group mb-3">
                    <select class="custom-select" name="wtypepicker">
                        <option selected>Choose the attack type you would like to see</option>
                        <% for(var i=0; i<weapon.length; i++) {%>
                            <option value=<%= weapon[i]._id %>><%= weapon[i]._id %></option>
                            <% } %>
                    </select>                      
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                      </div> 
                    </div>
                    <% for(var i=0; i<query9.length; i++) {%>
                    <p>The  the number of terrorist attacks based on <%= query9[i]._id %> is <%= query9[i].num_attack %>.</p>
                    <% } %>
                  </form>
              </div>
            </div>
          </div>
        </div>

         <!--This is query10 seperate line **********************************************************-->
         <div id="accordion">
          <div class="card">
            <!--change id number-->
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseSix">
                  10. Count the number of terrorist attacks based on nationalities targeted
                </button>
              </h5>
            </div>
        
            <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
              <div class="card-body">
                <!--change query number-->
                  <form method="POST" action="/query10" class="query10">
                    <div class="input-group mb-3">
                    <select class="custom-select" name="nationpicker">
                        <option selected>Choose the attack type you would like to see</option>
                        <% for(var i=0; i<nation.length; i++) {%>
                            <option value=<%= nation[i]._id %>><%= nation[i]._id %></option>
                            <% } %>
                    </select>                      
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                      </div> 
                    </div>
                    <% for(var i=0; i<query10.length; i++) {%>
                    <p>The  the number of terrorist attacks based on <%= query10[i]._id %> is <%= query10[i].num_terrorist_attacks %>.</p>
                    <% } %>
                  </form>
              </div>
            </div>
          </div>
        </div>

         <!--This is query11 seperate line **********************************************************-->
         <div id="accordion">
          <div class="card">
            <!--change id number-->
            <div class="card-header" id="headingEleven">
              <h5 class="mb-0">
                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                  11. List the weapons used in terrorist attacks based on country
                </button>
              </h5>
            </div>
        
            <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordion">
              <div class="card-body">
                <!--change query number-->
                  <form method="POST" action="/query11" class="query11">
                    <div class="input-group mb-3">
                    <select class="custom-select" name="countrypicker">
                        <option selected>Choose the country you would like to see</option>
                        <% for(var i=0; i<country.length; i++) {%>
                            <option value=<%= country[i]._id %>><%= country[i]._id %></option>
                            <% } %>
                    </select>                      
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                      </div> 
                    </div>
                    <p> the weapontypes in country <%= query11[0]._id.country %> used are: </p>
                    <% for(var i=0; i<query11.length; i++) {%>
                    <p> <%= query11[i]._id.weapontype %></p>
                    <% } %>
                  </form>
              </div>
            </div>
          </div>
        </div>

        </div>      
      </div>
    </div>
  </div>
    
    
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>ADBM Group &copy;2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->

    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>